.Dictionary section {
  background-color: rgba(252, 252, 252, 0.671);
  width: 400px;
  padding: 10px;
  border-radius: 3px;
  margin: 10px auto;
}
.Dictionary .dictionary-search {
  margin: 50px 0;
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: center;
}


@media (max-width: 991px) {
  .Dictionary section{
 width: 700px;
  } 

}
@media (max-width: 767px) {
  .Dictionary section{
 width: 516px;
  } 

  .Dictionary .dictionary-search {
  font-size: 12px;
  }
}