.Phonetic {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}
.Phonetic .audio-player {
  margin: 0 auto;
}
.Phonetic .phonetic-text {
  font-size: 60px;
  text-align: center;
 line-height: 100px;

}
