.Photos {
  background-color: rgba(252, 252, 252, 0.671);
  max-width: 866px;
  padding: 10px;
  border-radius: 3px;
  margin: 10px auto;
}
.Photos img {
  border-radius: 5px;
  margin-bottom: 20px;
}
