.Results {
  padding-bottom: 450px;
}
.Results .first-column-first-row {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
  margin: 5px;
}
#meaning {
  float: right;
  height: max-content;
  margin: 5px;
}

.Results .results-word {
  text-align: center;
  font-size: 60px;
  justify-content: center;
  line-height: 20px;
}

.Results .definition-example {
  font-weight: 600;
  color: grey;
  font-style: italic;
  margin-top: 5px;
}

@media (max-width: 993px) {
  .Results {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }

  .Results .first-column-first-row {
    margin: 0 auto;
  }
  #meaning {
    margin: 0 auto;
  }
  .Results .results-word {
    font-size: 40px;
  }
}
