.Results {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}
.Results .first-column-first-row {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#meaning {
  grid-column-start: 2;
  grid-column-end: 3;
}

.Results .results-word {
  text-align: center;
  font-size: 60px;
  justify-content: center;
  margin: 0;
  line-height: 15px;
}
